body {
  margin: 0;
  padding: 0;
  color: rgb(51, 51, 103);
  font-family: "Times New Roman", serif;
  font-size: 1.2vw;
  line-height: 200%;
  
}

main {

  margin: 0;

}

.site-header {
  height: 230px;
  width: auto;
  background: no-repeat center url('img/back.jpg');
  color: white;
}

.contacts {

  direction: rtl;
  padding-right: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.ndt pre {
font-size: 30px;
font-weight: 700;
text-transform: uppercase;

}

.menu ul {
display: flex;
justify-content: space-between;
list-style: none;
margin-right: 60px;
}

.menu a {
  color: white;
  border: 1px solid white;
  padding: 5px 15px;
  text-decoration: none;
}

.menu a:hover {
  background-color: rgb(188, 192, 207, 0.7);
}


.site-footer {
  background: no-repeat center url('img/back.jpg');
  width: auto;
  height: 150px;
  padding: 20px;
  color: white;
  margin-top: 20px;
}

.site-footer a {
  color: white;

}



.about .photos {
float: left;
margin-top: 0;
margin-right: 25px;
margin-bottom: 0px;
margin-left: 40px;
}


.studia .photos_studia {
  float: left;
  margin-top: 0;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0;

}

.afisha .photos {
  float: left;
  margin-bottom: 15px;
  margin-top: 0;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0;
}

.about-afisha {
  display:grid;
  grid-template-columns: 1fr 220px;
  margin: 0;
  margin-left: 40px;
  gap: 10px;
}
.photos img {
  margin-top: 0;
  margin-bottom: 0px;
  
}

.afisha h2 {
font-size: 1.4vw;

}

.angela-1 {
  margin-top: 13px;
  margin-bottom: 12px;
}

.greeting {
  display:grid;
  grid-template-columns: 280px 1fr 280px;
  justify-content: space-between;
  margin: 40px;
  gap: 10px;
}

.studia {
  display:grid;
  grid-template-columns: 1fr 200px;
  justify-content: space-between;
  margin: 40px;
  gap: 30px;

}

.greeting p {
font-size: 1.6vw;
  }

.greeting-text {
  padding: 0;
  text-align: center;
}

.greeting img {
margin-bottom: 0;

}
.about h2 {
  margin-top: 0;

}


.about p {
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;

}

h4 {
  margin-left: 40px;
  margin-bottom: 0;
  margin-top: 10px;
  font-size: 1.3vw;
}

.studia p {

  margin-top: 0;
}


h1 {
  font-size: 26px;
  margin: 20px 40px;
  text-transform: uppercase;
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 1.6vw;

}


 h2 {
  margin: 40px;
  margin-bottom: 0;
  font-size: 1.8vw;
}

.card-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 0;
  padding: 20px;
  list-style: none;
}

.card {
width: 350px;
padding-top: 0 15px;
margin-right: 50px;
margin-bottom: 10px;

}

.truppa {

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  list-style: none;
  padding-top: 10px;
  padding-left: 40px;

}

.card-truppa {
  width: 200px;
padding: 20px;
border: 1px solid rgb(51, 51, 103);
margin-right: 40px;
margin-bottom: 20px;

}

.card-truppa p {
  font-size: 1.2vw;
  text-align: center;
  color: rgb(51, 51, 103);
  font-weight: bold;
}

.card h2 {
  font-size: 1.2vw;
  font-weight: bold;
  text-align: center;
  color: rgb(51, 51, 103);
}

.bold {
  font-weight: 700;
  }